.header {
    height: 10vh;
    width: 100vw;
    min-width: 350px;
    min-height: 55px;
    padding-top: 5vh;
    background: #0099ff;
    color: #ffffff;
    text-align: center;
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    min-height: 95vh;
    min-width: 100vw;
    background: #0055b6;
    text-align: center;
    padding-bottom: 1vh;
}

.toolbar {
    height: 6vh;
    width: 100%;
    margin-bottom: 2vh;
    background: #0000a8;
    text-align: left;
    vertical-align: top;
}

.toolbarbutton {
    height: 100%;
    width: 15%;
    padding: 1%;
    background: none;
    border: none;
}

.arrow {
    height: 100%;
    width: 100%;
}

.text {
    height: 100%;
    width: 70%;
    margin-left: 2vw;
    color: #ffffff;
    font-size: 2.5vh;
    padding-top: 1.5vh;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: top;
    text-align: center;
}

form {
    padding-top: 2vh;
}

.field {
    height: 5vh;
    width: 30vw;
    padding-right: 3vw;
    color: white;
    font-size: 2.5vh;
    text-align: end;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    height: 4vh;
    width: 50vw;
    margin-bottom: 3vh;
    font-size: 2.5vh;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select {
    height: 4vh;
    width: 50vw;
    margin-bottom: 3vh;
    font-size: 2.5vh;
}

.submit {
    height: 5vh;
    width: 50vw;
    margin-top: 4vh;
    background: #ffffff;
    color: #0099ff;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards {
    min-height: 11vh;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 2vh;
    background: white;}

.name {
    margin-left: 2vw;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    min-height: 10vh;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    background: white;
}

.titles {
    padding-left: 3vw;
    color: black;
    font-size: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: start;
}