<div class="background" *ngIf="!home.searched">
    <div class="help">Enter your search filters or click submit to view all records</div>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="field">First: </div><input formControlName="firstName"  placeholder="Enter first name"/>
        <div class="field">Middle: </div><input formControlName="middleName"  placeholder="Enter middle name"/>
        <div class="field">Last: </div><input formControlName="lastName"  placeholder="Enter last name">
        <div class="field">Death Year: </div><input formControlName="deathYear"  placeholder="Enter death year">
        <div class="field">Gender: </div>
        <select (change)="changeGender($event)" formControlName="gender">
            <option value="">Choose gender</option>
            <option *ngFor="let g of genders" [ngValue]="g">{{g}}</option>
         </select>
         <div class="field">Race: </div>
         <select (change)="changeRace($event)" formControlName="race">
            <option value="">Choose race</option>
            <option *ngFor="let r of races" [ngValue]="r">{{r}}</option>
         </select>
        <button type="submit" [disabled]="isValid(searchForm.value.deathYear)" class="submit">Submit</button>
    </form>
</div>
<div class="background" *ngIf="home.searched && !home.showResult">
    <div *ngFor="let result of searches">
        <div class="cards" *ngIf="result.RecordType=='Cemetery'" (click)="select(result)">
            <div class="name">Name: {{result.Title}} {{result.FirstName}} {{result.Middle}} {{result.Last}} {{result.Suffix}}</div>
            <div class="title">Date of Death: {{result.DateOfDeath}}</div>
            <div class="title">Cemetery Record</div>
        </div>
        <div class="cards" *ngIf="result.RecordType=='Internment'" (click)="select(result)">
            <div class="name">Name: {{result.First}} {{result.Last}}</div>
            <div class="title">Date of Death: {{result.DateOfDeath}}</div>
            <div class="title">Internment Record</div>
        </div>
    </div>
</div>
<div class="background" *ngIf="home.showResult">
    <div class="box" *ngIf="result.RecordType=='Cemetery'">
        <div class="titles">Name: {{result.Title}} {{result.FirstName}} {{result.Middle}} {{result.Last}} {{result.Suffix}}</div>
        <div class="titles">Sex: {{result.Sex}}</div>
        <div class="titles">Race: {{result.Race}}</div>
        <div class="titles">Date of Death: {{result.DateOfDeath}}</div>
        <div class="titles" style="display:inline;">Age: {{result.Age}}<div *ngIf="result.Age.length>0" style="display:inline;"> years </div>{{result.Months}}<div *ngIf="result.Months.length>0" style="display:inline;"> months </div>{{result.Days}}<div *ngIf="result.Days.length>0" style="display:inline;"> days</div></div>
        <div class="titles">Grave {{result.Grave}} Lot {{result.Lot}} Block {{result.Block}}</div>
        <div class="titles">Burial Date: {{result.BurialDate}}</div>
        <div class="titles">Permit Number: {{result.Permit}}</div>
        <div class="titles">Internment Number: {{result.Int}}</div>
        <div class="titles" *ngIf="result.Baby=='*'">Baby</div>
        <div class="titles">Comments: {{result.Comments}}</div>
    </div>
    <div class="box" *ngIf="result.RecordType=='Internment'">
        <div class="titles">Name: {{result.First}} {{result.Last}}</div>
        <div class="titles">Sex: {{result.Sex}}</div>
        <div class="titles">Race: {{result.Color}}</div>
        <div class="titles">Residence: {{result.Residence}}</div>
        <div class="titles">Date of Death: {{result.DateOfDeath}}</div>
        <div class="titles">Place of Death: {{result.PlaceOfDeath}}</div>
        <div class="titles" style="display:inline;">Age: {{result.Years}}<div *ngIf="result.Years.length>0" style="display:inline;"> years </div>{{result.Months}}<div *ngIf="result.Months.length>0" style="display:inline;"> months </div>{{result.Days}}<div *ngIf="result.Days.length>0" style="display:inline;"> days</div></div>
        <div class="titles">Attending Physician: {{result.AttendingPhysician}}</div>
        <div class="titles">Cause of Death: {{result.CauseOfDeath}}</div>
        <div class="titles">Undertaker: {{result.Undertaker}}</div>
        <div class="titles">Catacomb Number: {{result.Catacomb}}</div>
        <div class="titles">Date Received: {{result.DateReceived}}</div>
        <div class="titles">Date Removed: {{result.Removed}}</div>
        <div class="titles">Grave {{result.Grave}} Lot {{result.Lot}} Block {{result.Block}}</div>
        <div class="titles">Burial Date: {{result.Date}}</div>
        <div class="titles">Permit Number: {{result.Permit}}</div>
        <div class="titles">Internment Number: {{result.Int}}</div>
        <div class="titles">Relative or Friend: {{result.RelativeOrFriend}}</div>
        <div class="titles">Comments: {{result.Remarks}}</div>
    </div>
    <div *ngIf="result.RecordType=='Internment'" style="text-align: center;">
        <div *ngIf="result.Int>826&&result.Int<912">
            <img class="photo" src='../assets/{{result.Int}}.jpg'>
        </div>
    </div>
</div>