<div class="header">
    <button class="toolbarbutton" (click)="back()" *ngIf="!home">
      <img class="arrow" src='../assets/leftarrow.png'>
    </button>
    <button class="aboutButton" (click)="aboutbutton()" *ngIf="home&&!about">About this project</button>
    <button class="aboutButton" (click)="aboutbutton()" *ngIf="home&&about">Home</button>
    <div class="siteTitle" *ngIf="home">Highland Cemetery</div>
    <div class="siteTitle" *ngIf="!home&&!searched">Search Cemetery Records</div>
    <div class="siteTitle" *ngIf="!home&&searched&&!showResult">Search Results</div>
    <div class="siteTitle" *ngIf="!home&&searched&&showResult">{{recordType}} Record</div>
    <button class="searchPage" (click)="search()" *ngIf="home&&!about">Search Records</button>
</div>
<div class="background" *ngIf="home&&!about">
  <img class="cemImg" src="../assets/temp.jpeg">
  <div class="title">Indexed Records</div><div class="column">Dates Available to Search</div>
  <div class="line"></div>
  <div class="title">Internment Records</div><div class="date">1912-1914</div>
  <div class="title">Cemetery Records</div><div class="date">1909-1914</div>
  <div class="title">State Death Records</div><div class="date">1909-1910</div>
  <div class="title">Highland Cemetery Lots</div><div class="date">Block 1</div>
  <div class="title">Assorted Tombstone Photos</div><div class="date"></div>
</div>
<div class="background" *ngIf="home&&about">
  <div class="description">The Highland Cemetery was founded in 1909. It was one of the only private cemeteries open to African Americans in Kansas City. There are several famous people buried there, including Bennie Moten, Pha Terrell, and Fredericka Douglass (the granddaughter of Frederick Douglass).</div>
  <div class="description">The cemetery records are a compiled list of people buried in the cemetery. The internment cards can provide some interesting information for genealogy. The lot records show the grave positions in each lot. I have also incuded some Missouri State Death Records and photos of the tombstones.</div>
  <div class="description">The years I have indexed for each type of record are listed on the homepage. I am indexing from oldest to newest. If you are looking for records from a year I have not gotten to yet, or would like a photo of a document in the search, feel free to email me at dageraad.dixon@gmail.com!</div>
</div>
<app-search-records *ngIf="!home"></app-search-records>