.header {
    height: 10vh;
    width: 100vw;
    min-width: 350px;
    min-height: 55px;
    padding-top: 5vh;
    background: #0099ff;
    color: #ffffff;
    text-align: center;
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    height: 95vh;
    width: 100vw;
    min-width: 350px;
    min-height: 600px;
    background: #0055b6;
    text-align: center;
}

img {
    height: 30vh;
    width: 90vw;
    margin-top: 8vh;
}

button {
    height: 8.5vh;
    width: 80vw;
    min-width: 330px;
    min-height: 40px;
    margin-top: 6vh;
    margin-bottom: 2vh;    
    background: #ffffff;
    color: #0099ff;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    margin-left: 15vw;
    color: #ffffff;
    text-align: left;
    font-size: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}